PORT=PORT
MONGODB_STRING='Your MongoDB URL'
MQTT_JWT_SECRET='Your MQTT JWT Secret'
MQTT_BROKER_URL='MQTT Broker URL'
MQTT_BROKER_PORT=MQTT Broker PORT
MQTT_BROKER_USERNAME='MQTT Broker USERNAME'
MQTT_BROKER_PASSWORD='MQTT Broker PASSWORD'